#game-field {
    border-collapse: collapse;
    margin: 0 auto;
}

#game-field tr td {
    border: 1px solid #604242;
    text-align: center;
    vertical-align: middle;
    font-weight: bold;
}

.g-tab-content {
    height: 500px;
    border: 1px solid #e1e1e8;
    border-top: 0;
    padding: 10px;
}

.panel {
    text-align: center;
    font-weight: bold;
}

.panel .panel-body {
    padding: 5px;
}

#game-size {
    width: 130px;
}

.navbar-default .navbar-brand {
    color: #fff;
}

.navbar-default .navbar-brand:hover {
    color: #e7e7e7;
}

.navbar-default .navbar-nav>li>a {
    color: #fff;
}

.navbar {
   background-color: #337ab7;
}

.avatar-logo {
    margin-right: -15px;
}

.avatar {
    width: 25px;
}

.chat-messege-block {
    border-radius: 5px;
    background-color: #71b2ea;
    padding: 5px;
    color: #fff;
}

.chat-time {
    color: #949494;
    font-size: 0.8em;
}

.user-messege {
    margin: 5px 0;
}

#typing-field {
    margin-bottom: 10px;
}

.messenger-avatar img {
    border: 1px solid #fff;
    width: 25px;
    height: 25px;
}

