#game-field {
    border-collapse: collapse;
    margin: 0 auto;
}

#game-field tr td {
    border: 1px solid #604242;
    text-align: center;
    vertical-align: middle;
    font-weight: bold;
}

.g-tab-content {
    height: 500px;
    border: 1px solid #e1e1e8;
    border-top: 0;
    padding: 10px;
}

.panel {
    text-align: center;
}

.panel .panel-body {
    padding: 5px;
}