/** {*/
    /*margin: 0;*/
    /*padding: 0;*/
/*}*/

/*body {*/
    /*background-color: #86a183;*/
    /*font-family: sans-serif;*/
    /*font-size: 20px;*/
/*}*/

/*.scores {*/
    /*padding-top: 15px;*/
    /*height: 80px;*/
    /*text-align: center;*/
/*}*/

/*.scores .score-block {*/
    /*display: inline-block;*/
    /*border: 7px solid #d54949;*/
    /*width: 147px;*/
    /*height: 60px;*/
/*}*/

/*.scores .score-block span {*/
    /*margin: 10px 10px;*/
/*}*/

/*.scores .score-block span:nth-child(2) {*/
    /*font-size: 30px;*/
/*}*/

#game-field {
    border-collapse: collapse;
    margin: 0 auto;
}

#game-field tr td {
    width: 100px;
    height: 100px;
    border: 1px solid #604242;
    text-align: center;
    vertical-align: middle;
    font-size: 80px;
}

.highlight {
    border: 1px solid #e1e1e8;
    background-color: #f7f7f9;
}

#tab-content {
    height: 500px;
}
/*#reset-button {*/
    /*display: block;*/
    /*width: 328px;*/
    /*height: 50px;*/
    /*border: 7px solid #d54949;*/
    /*background-color: transparent;*/
    /*font-size: 30px;*/
    /*letter-spacing: 7px;*/
    /*color: #d54949;*/
    /*margin: 10px auto 0 auto;*/
/*}*/

/*#reset-button:hover {*/
    /*border: 7px solid #c22c2c;*/
    /*color: #c22c2c;*/
/*}*/

/*.disabled-field, .disabled-field > td {*/
    /*color: #908c93;*/
    /*border-color: #908c93;*/
/*}*/

/*#winner-block {*/
    /*border-color: darkgreen;*/
/*}*/

/*#looser-block {*/
    /*border-color: #c22c2c;*/
/*}*/
